<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dkorh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.dkorh.Fiche.Fiche"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app" />

        <activity
            android:name="com.example.dkorh.Event.MapsActivity"
            android:label="@string/title_activity_maps" />

        <service
            android:name="com.example.dkorh.Event.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.example.dkorh.Event.ServiceAutoLauncher"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.dkorh.Event.EditEventActivity"></activity>
        <activity android:name="com.example.dkorh.Event.NewEventActivity" />
        <activity android:name="com.example.dkorh.Event.Evennement" />
        <activity android:name="com.example.dkorh.Splash" />
        <activity android:name="com.example.dkorh.Interim.Interim2" />
        <activity android:name="com.example.dkorh.Changepass" />
        <activity android:name="com.example.dkorh.Interim.Interim" />
        <activity android:name="com.example.dkorh.ListeDemande.DetailDemande" />
        <activity android:name="com.example.dkorh.getAllUser.DetailUser" />
        <activity android:name="com.example.dkorh.ListeDemande.Mdemande" />
        <activity android:name="com.example.dkorh.Demande.absence3" />
        <activity android:name="com.example.dkorh.Demande.Absence2" />
        <activity android:name="com.example.dkorh.AjoutUser.AjoutUser3" />
        <activity android:name="com.example.dkorh.AjoutUser.AjoutUser2" />
        <activity android:name="com.example.dkorh.getAllUser.ListeUser" />
        <activity android:name="com.example.dkorh.AjoutUser.ajoutuser" />
        <activity android:name="com.example.dkorh.forget" />
        <activity android:name="com.example.dkorh.Rapport.rapport" />
        <activity android:name="com.example.dkorh.Rapport.generapport" />
        <activity android:name="com.example.dkorh.profil" />
        <activity android:name="com.example.dkorh.presence" />
        <activity android:name="com.example.dkorh.Demande.DemandeAbsence" />
        <activity android:name="com.example.dkorh.login" />
        <activity android:name="com.example.dkorh.Dashadmin" />
        <activity android:name="com.example.dkorh.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>